<%= form_for(@login) do |f| %>
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@login.errors.count, "error") %> prohibited this login from being saved:</h2>

      <ul>
      <% @login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit :Submit%>
  </div>
<% end %>
