<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @login.title %>
</p>

<p>
  <strong> body:</strong>
  <%= @login. body %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
